{% extends "shnc/base.html" %}
    <!-- page content -->
    {% block body_block%}
    {% load staticfiles %}
    {% load my_extras %}
 <!--<div class="row_card">-->
<div class="row" >
    <div class="col-md-6"  style="margin-top:20px;">  
    <div class="card ">
      <a  href="{% url 'shnc:lpn_list' %}">
          <span class="glyphicon glyphicon-search"></span> Show Nurses</a>
          </div>
    </div>  
    <div class="col-md-6" style="margin-top:20px;"> 
    <div class="card ">
     <a  href="{% url 'shnc:lpn_new' %}">
          <span class="glyphicon glyphicon-plus"></span> Add Nurse</a>
    </div>
    </div>
        
    <div class="col-md-6" style="margin-top:20px;">   
    <div class="card ">
      <a  href="{% url 'shnc:lpn_list' %}">
          <span class="glyphicon glyphicon-cog"></span> Edit Nurses</a>
   </div>
    </div>  
    <div class="col-md-6" style="margin-top:20px;">
        <div class="card ">     
      <a href="{% url 'shnc:lpn_list' %}">
          <span class="glyphicon glyphicon-minus"></span> Remove Nurses</a>
   </div>
    </div> 

</div>
    {% endblock %}
    
    
    